/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

*{
	box-sizing:border-box;
	align-content: space-between;

  }

  html {
	  display: flex;
	  justify-content: center;
  }

.navigation .links {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 69%;
}

.navigation {
	display: flex;
	justify-content: center;
	padding-top: 25px;
	max-width: 800px;
}

.navigation .logo {
	display: flex;
	justify-content: space-evenly;
	width: 29%;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	max-width: 800px;
}

.bottomcontainer {
	max-width: 800px;

}

.top-content, .bottom-content {
	display: flex;
	max-width: 800px;
	margin: 30px 30px 30px 0px;
}

.top-content .firstrow, .bottom-content .secondrow {
	display: flex;
	justify-content: center;
}

.top-content .firstrow div, .bottom-content .secondrow div {
	padding: 0px 5px 0px 5px;
}

.banner {
	display: flex;
	justify-content: center;
}

footer {
	display: flex;
	justify-content: center;
	padding-bottom: 80px;
	padding-top: 50px;
}

h1 {
	font-size: 65px;
	text-align: center;
}

.getstarted h2 {
	display: flex;
	justify-content: center;
	font-size: 15px;
	font-family: sans-serif;
	border: 1px black solid;
	padding: 15px;
	margin: auto;
	width: 60%;

}

.links a {
	color: black;
	text-decoration: none;
}

.contact div {
	padding: 30px 30px 30px 5px;
}

.getstarted {
	padding-right: 50px;
}

.middle-img {
	display: flex;
  	max-width: 800px;
}

h3 {
	font-size: 50px;
}

.services-header-img {
	display: flex;
  	padding: 25px 0px 0px 40px;
  	width: 97%;
}

.servicesblock h3 {
	font-size: 45px;
}

.servicesblock {
	padding-top: 25px;
	padding-bottom: 25px;
}

.digitaldesignblock, .uxuiblock, .digitalmarketingblock, .webdevblock, .iosdevblock, .androidblock {
	border: 1px solid black;
	padding: 20px;
	margin: 10px 20px 10px 20px;
	background-color: #E5E5E5;

	
}

.row {
	display: flex;
	padding: 40px 40px 40px 40px;

}

h5 {
	display: flex;
	justify-content: center;
	font-size: 15px;
	font-family: sans-serif;
	border: 1px black solid;
	padding: 10px;
	margin-top: 10px;
	width: 30%;
}

.servicesblock {
	padding: 30px;
	margin: 15px;
}

ul { 
	list-style-type: square;
	padding: 25px;
}

ul li {
	padding: 10px;
}

.factsblock { 
	margin: 15px;
}

.factsblock p {
	max-width: 85%;
}

.services-info-img {
	padding-right: 50px;
}

hr {
	margin-top: 25px;
}

.circlelogo {
	margin-left: 25px;
}

/* Responsive design code */

@media(max-width: 800px) {

	* {
		max-width: 95%;
	}
	.circlelogo {
		display: none;
	}

	.navigation {
	flex-direction: column-reverse;
	}

	.navigation .logo, .navigation .links {
		margin: auto;
	}

	.navigation .logo {
		padding-bottom: 20px;
	}

	.navigation .links {
		justify-content: space-between;
	}


@media(max-width: 500px) {
	.navigation .links {
		flex-direction: column;
	}

	.navigation .links a {
		width: 95%;
		text-align: center;
		margin: 15px 5%;
		padding-bottom: 20px;
		border-bottom: 1px solid black;
		color: gray;
	}

	.navigation .logo {
		padding-bottom: 20px;
	}

	.links:first-child {
		border-top: 1px solid black;
		padding-top: 10px;
	}

	.firstrow, .secondrow {
		flex-direction: column;
	}

	.features, .about, .services, .product, .vision {
		margin-bottom: 25px;
	}


